<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Index Price Tracker</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        .container{
            display: flex;
            height: 100vh;
        }
        .btc{
            width: 32%;
            border-style: solid;
            border-radius: 25px;
            margin: 8px;
            background-color: #f6c855;
        }
        .eth{
            width: 32%;
            border-style: solid;
            border-radius: 25px;
            margin: 8px;
            background-color: #d7e8ed;
        }
        .sol{
            width: 32%;
            border-style: solid;
            border-radius: 25px;
            margin: 8px;    
            background-color: #e16cf6;
        }
    </style>
</head>
<body style = "background: #142d40">

    <div class = "container">

        <script>
            function updatePrices(){
                var xhttp = new XMLHttpRequest();

                xhttp.onreadystatechange = function() {
                    if (xhttp.readyState == XMLHttpRequest.DONE && xhttp.status == 200) {
                        var prices = JSON.parse(xhttp.responseText);
                        document.getElementById('btc_id').textContent = prices.btc;
                        document.getElementById('eth_id').textContent = prices.eth;
                        document.getElementById('sol_id').textContent = prices.sol;
                    }
                    else {
                        console.error('Error:', xhttp.status);
                    }
                };

                xhttp.open('GET', '/update_prices', true);
                xhttp.send();
            }

            setInterval(updatePrices, 2000)
        </script>


        <div class = "btc">
            <div style = "display: flex; align-items: center; justify-content: center;">
                <h1 style = "margin-right: 10px;">Bitcoin</h1>
                <img src="static/bitcoin-logo-png-transparent.png" alt="Bitcoin Logo" style="float: left;" width="50" height="50">
            </div>
            <div style = "display: flex; justify-content: center;">
                <h3 style = "font-family:Trebuchet MS;">Live Index Price (USD):</h3>
                <h3 id = 'btc_id' style = "font-family:trebuchet MS; border-width:3px; border-style:solid; border-color:#FF0000; border-radius: 7px; margin-left: 7px;">
                     {{index_prices['btc']}}
                </h3>
            
            </div>

            <!-- chart stuff starts here -->

            <div style="width: 80%; margin: 0 auto;">
                <canvas id="priceChart"></canvas>
            </div>
            <script>

                var jsonData = JSON.parse('{{ compiled_prices | safe }}');
                
                var timestamps = jsonData.timestamp.map(ts => new Date(ts).toISOString());
                var prices = jsonData.btc;
            
                var ctx = document.getElementById('priceChart').getContext('2d');
                var priceChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: timestamps,
                        datasets: [{
                            label: 'BTC Price',
                            data: prices,
                            borderColor: 'rgb(75, 192, 192)',
                            fill: false
                        }]
                    },
                    options: {
                        plugins: {
                            legend: {
                                display: true,
                                position: 'top'
                            }
                        },
                        responsive: true,
                        scales: {
                            x: {
                                type: 'time',
                                time: {
                                    tooltipFormat: 'MMM DD, YYYY',
                                    displayFormats: {
                                        day: 'MMM DD'
                                    }
                                },
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Timestamp'
                                }
                            },
                            y: {
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Price'
                                }
                            }
                        }
                    }
                });
            </script>


            <!-- chart stuff ends here -->
        </div>

        <div class = "eth">
            <div style = "display: flex; align-items: center; justify-content: center;">
                <h1 style = "margin-right: 10px;">Ethereum</h1>
                <img src="static/ethereum-eth-logo.png" alt="Ethereum Logo" style="float: left;" width="50" height="50">
            </div>
            <div style = "display: flex; justify-content: center;">
                <h3 style = "font-family:Trebuchet MS;">Live Index Price (USD):</h3>
                <h3 id = 'eth_id' style = "font-family:trebuchet MS; border-width:3px; border-style:solid; border-color:#FF0000; border-radius: 7px; margin-left: 7px;">
                     {{index_prices['eth']}}
                </h3>
            </div>
        </div>

        <div class = "sol">
            <div style = "display: flex; align-items: center; justify-content: center;">
                <h1 style = "margin-right: 10px;">Solana</h1>
                <img src="static/solana-sol-logo.png" alt="Solana Logo" style="float: left;" width="50" height="50">
            </div>
            <div style = "display: flex; justify-content: center;">
                <h3 style = "font-family:Trebuchet MS;">Live Index Price (USD):</h3>
                <h3 id = 'sol_id' style = "font-family:trebuchet MS; border-width:3px; border-style:solid; border-color:#FF0000; border-radius: 7px; margin-left: 7px;">
                     {{index_prices['sol']}}
                </h3>
            </div>
        </div>
    </div>
    
</body>
</html>