<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Index Price Tracker</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.33/moment-timezone-with-data-10-year-range.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>

    <div class = "container">
       
        <div class="crypto-card btc" style="background-color: #f6c855;">
            <div style="display: flex; align-items: center; justify-content: center; margin-bottom: 8%">
                <img src="static/images/bitcoin-logo-png-transparent.png" alt="Bitcoin Logo" width="50" height="50">
                <h1>Bitcoin</h1>
            </div>
            <div style="display: flex;">
                <h3 style="font-family: Trebuchet MS; margin-right: 10px;">Live Index Price (USD):</h3>
                <h3 id="btc_id" style="border-style: solid; border-radius: 5px; border-color: #FF0000;">
                    {{index_prices['btc']}}
                </h3>
            </div>
            <div class="chart-container">
                <canvas id="btc_priceChart" height="200"></canvas>
            </div>

            <table id="btc_pricesTable" style="margin-top: 20px">
                <thead>
                    <tr>
                        <th>Date and Time (HKT)</th>
                        <th>Index Price (USD)</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

            <div class="chart-container" style="margin-top: 10%;">
                <canvas id="btc_DVOLChart" height="200"></canvas>
            </div>
        </div>

        <div class="crypto-card eth" style=" background-color: #d7e8ed">
            <div style="display: flex; align-items: center; justify-content: center; margin-bottom: 8%">
                <img src="static/images/ethereum-eth-logo.png" alt="Ethereum Logo" width="50" height="50">
                <h1>Ethereum</h1>
            </div>
            <div style="display: flex;">
                <h3 style="font-family: Trebuchet MS; margin-right: 10px;">Live Index Price (USD):</h3>
                <h3 id="eth_id" style="border-style: solid; border-radius: 5px; border-color: #FF0000;">
                    {{index_prices['eth']}}
                </h3>
            </div>
            <div class="chart-container">
                <canvas id="eth_priceChart" height="200"></canvas>
            </div>

            <table id="eth_pricesTable" style="margin-top: 20px">
                <thead>
                    <tr>
                        <th>Date and Time (HKT)</th>
                        <th>Index Price (USD)</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

            <div class="chart-container" style="margin-top: 10%;">
                <canvas id="eth_DVOLChart" height="200"></canvas>
            </div>
        </div>

        <div class="crypto-card sol" style="background-color: #dd98ea; align-self: flex-start;">
            <div style="display: flex; align-items: center; justify-content: center; margin-bottom: 8%">
                <img src="static/images/solana-sol-logo.png" alt="Solana Logo" width="50" height="50">
                <h1>Solana</h1>
            </div>
            <div style="display: flex;">
                <h3 style="font-family: Trebuchet MS; margin-right: 10px;">Live Index Price (USD):</h3>
                <h3 id="sol_id" style="border-style: solid; border-radius: 5px; border-color: #FF0000;">
                    {{index_prices['sol']}}
                </h3>
            </div>
            <div class="chart-container">
                <canvas id="sol_priceChart" height="200"></canvas>
            </div>

            
            <table id="sol_pricesTable" style="margin-top: 20px">
                <thead>
                    <tr>
                        <th>Date and Time (HKT)</th>
                        <th>Index Price (USD)</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center; margin-bottom: 2%;">
        <img src="static\images\Logo_Q9_Capital.png" alt="Q9 Capital Logo" width="112" height="64">
    </div>

    <script>

        // JavaScript code for updating live index prices
        function updatePrices() {
            var xhttp = new XMLHttpRequest();

            xhttp.onreadystatechange = function() {
                if (xhttp.readyState == XMLHttpRequest.DONE && xhttp.status == 200) {
                    var prices = JSON.parse(xhttp.responseText);
                    document.getElementById('btc_id').textContent = prices.btc;
                    document.getElementById('eth_id').textContent = prices.eth;
                    document.getElementById('sol_id').textContent = prices.sol;
                } else {
                    console.error('Error:', xhttp.status);
                }
            };

            xhttp.open('GET', '/update_prices', true);
            xhttp.send();
        }

        setInterval(updatePrices, 2000);

        var compiled_prices = JSON.parse('{{ compiled_prices | safe }}');
        console.log(compiled_prices);
        
        
        // Function to create a table row for each cryptocurrency
        function createTableRow(timestamp, price) {
            var row = document.createElement("tr");
            var timestampCell = document.createElement("td");

            var hktTimestamp = moment.tz(timestamp, 'Asia/Hong_Kong');
            timestampCell.textContent = hktTimestamp.format('YYYY-MM-DD HH:mm:ss');
            
            var priceCell = document.createElement("td");
            priceCell.textContent = price;

            row.appendChild(timestampCell);
            row.appendChild(priceCell);

            return row;
        }

        // Function to generate the table for a specific cryptocurrency
        function generateTable(containerId, timestamps, prices) {
            var container = document.getElementById(containerId);
            var tbody = container.querySelector('tbody');   

            for (var i = 0; i < timestamps.length; i++) {
                var row = createTableRow(timestamps[i], prices[i]);
                tbody.appendChild(row);
            }
        }

        generateTable("btc_pricesTable", compiled_prices.timestamp, compiled_prices.btc);
        generateTable("eth_pricesTable", compiled_prices.timestamp, compiled_prices.eth);
        generateTable("sol_pricesTable", compiled_prices.timestamp, compiled_prices.sol);


        var DVOL_data = JSON.parse('{{ DVOL_data | safe }}');
        console.log(DVOL_data);
        
    </script>

    <script src="static\js\chartConfigs.js"></script>

</body>
</html>